
dict_s_a.ipynb
Presentation_Shark_Attack.ipynb
Aula_Functional_Paradigm.ipynb
Data_Cleaning_Shark_Attack_2.ipynb
.ipynb_checkpoints/Data_Cleaning_Shark_Attack-checkpoint.ipynb
.ipynb_checkpoints/Data_Cleaning_Shark_Attack_WR-checkpoint.ipynb
.ipynb_checkpoints/Presentation_Shark_Attack-checkpoint.ipynb
.ipynb_checkpoints/readme_shark_attacks-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
